element.style {
    padding-left: 32px;
}

.ujU {
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
}

.Hsu {
    box-sizing: border-box;
}

.jzS {
    flex-direction: column;
}

.cake-image {
    width: 800%;
    height: 500;
    border-bottom: 1px solid #ddd;
}


.Jea {
    display: flex;
    flex-direction: row;
}

user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}

style attribute {
    cursor: auto;
}

<style >
body, html {
    color: rgb(33, 25, 34);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
}
