@model SysCafeteriasweetcoffee.Models.Rol

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/formulario.css">
</head>

<h1 class="text-center">Detalles de Rol</h1>

<div>
    <form class="details-form">
        <!-- Grupo de Nombre -->
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" value="@Model.Nombre" readonly />
        </div>
        <!-- Botones -->
        <div class="btn-spacing">
            <a asp-action="Edit" asp-route-id="@Model?.Id">
                <button type="button" class="view-all-btn">Edit</button>
            </a>
        </div>
    </form>
    <!-- Botón Back to List -->
    <div class="btn-back">
        <a asp-action="Index">
            <button class="view-all-btn">Regresar</button>
        </a>
    </div>
</div>
