<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafés Calientes</title>
    <link rel="stylesheet" href="~/css/cards.css">
</head>
<body>
    <div class="card mb-3" style="max-width: 300px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/desayunos.jpg" class="img-fluid rounded-start" alt="700">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Cafes Calientes</h5>
                    <p class="card-text">
                        Bebidas con los mejores granos de café 100% arábica, cuidadosamente seleccionados y tostados al más puro estilo Starbucks®.
                        1.	Flat White
                        2.	Espresso
                        3.	Macchiato
                        4.	Espresso Panna
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Hacer Pedido</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="~/img/cc.jpg" alt="Tarta de Fresas" class="card-img">
            <div class="card-info">
                <h3>Cafés Calientes</h3>
                <p>
                    Bebidas con los mejores granos de café 100% arábica, cuidadosamente seleccionados y tostados al más puro estilo Starbucks®.
                    1.	Flat White
                    2.	Espresso
                    3.	Macchiato
                    4.	Espresso Panna
                </p>
            </div>
        </div>
    </div>
</body>
</html>

