<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tés e Infusiones</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <div class="container mt-5">
        <div class="card mb-3" style="max-width: 300px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/te.jpg" class="img-fluid rounded-start" alt="Té Verde">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Tés e Infusiones</h5>
                        <p class="card-text">
                            Disfruta de una variedad de tés e infusiones que te brindan sabor y bienestar.
                            1.Té Verde
                            2.Té Chai Latte
                            3.Manzanilla
                            4.Té de Frutas
                        </p>

                        <p class="card-text"><small class="text-body-secondary">Hacer Pedido</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="~/img/te_fruitas.jpg" alt="Té de Frutas" class="card-img">
            <div class="card-body">
                <h3 class="card-title">Tés e Infusiones</h3>
                <p class="card-text">
                    Descubre el sabor y la tradición de nuestros tés e infusiones seleccionadas con cuidado.
                    1.Té Verde
                    2.Té Chai Latte
                    3.Manzanilla
                    4.Té de Frutas
                </p>

            </div>
        </div>
    </div>
</body>
</html>
