<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas Especiales</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="card mb-3" style="max-width: 300px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/special.jpg" class="img-fluid rounded-start" alt="Bebidas Especiales">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Bebidas Especiales</h5>
                    <p class="card-text">
                        Disfruta de una variedad de bebidas especiales que te brindan una experiencia única:
                        1.Chocolate Caliente
                        2.Matcha Latte
                        3.Golden Milk
                        4.Café Turco
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Hacer Pedido</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="~/img/bebidas_especiales_2.jpg" alt="Más Bebidas Especiales" class="card-img">
            <div class="card-info">
                <h3>Bebidas Especiales</h3>
                <p>
                    Descubre una selección de nuestras mejores bebidas especiales:
                    1.Chocolate Caliente
                    2.Matcha Latte
                    3.Golden Milk
                    4.Café Turco
                </p>
            </div>
        </div>
    </div>
</body>
</html>
