<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas Especiales</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <center>
        <div class="card mb-3" style="max-width: 1200px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/desayunos.jpg" class="img-fluid rounded-start" alt="300px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">Desayunos</h2>
                        <p class="card-text">
                            Una variedad de opciones para empezar el día con energía y nutrición. 
                            Incluyen Tostadas de Aguacate con ingredientes frescos, 
                            Panqueques acompañados de frutas y miel de maple, y Omelette de Verduras
                        </p>
                        <p class="card-text"><small class="text-body-secondary">Puedes hacer tu pedido</small></p>
                        <a asp-controller="Home" asp-action="Index">
                            <button class="view-all-btn">Regresar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </center>
    <section class="featured">
        <h2>Sweet Coffe Food</h2>
        <div class="desserts-grid">
            <div class="dessert-item">
                <img src="~/img/1DS.jpg" alt="Matcha Roll">
                <h3>Tostadas con aguacate</h3>
                <p>Una variedad de opciones para empezar el día con energía y nutrición.</p>
                <button class="view-all-btn">Ver todos</button>
            </div>
            <div class="dessert-item">
                <img src="~/img/2des.jpg" alt="Matcha Roll">
                <h3>Panqueques</h3>
                <p>Bocadillos ligeros y rápidos para acompañar cualquier bebida.</p>
                <button class="view-all-btn">Ver todos</button>
            </div>
            <div class="dessert-item">
                <img src="~/img/3.jpg" alt="Matcha Roll">
                <h3>Omelette de Verduras</h3>
                <p> Opciones que combinan pan fresco con rellenos abundantes y sabrosos.</p>
                <button class="view-all-btn">Ver todos</button>
            </div>
            <div class="dessert-item">
                <img src="~/img/4.jpg" alt="Mango Mochi">
                <h3>Yogurt con granola</h3>
                <p>Dulces clásicos que complementan perfectamente una bebida caliente o fría.</p>
                <button class="view-all-btn">Ver todos</button>
            </div>
    </section>
</body>
</html>
