@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Sweet Coffee</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url(https://i.pinimg.com/736x/15/a2/80/15a28015eb6b9d0c3325c061fec083ab.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            margin-left: 60px;
            margin-top: 40px;
            text-align: left;
            margin: 0;
            padding: 150px;
        }

        h1 {
            color: #F86B87;
            margin-top: 50px;
        }

        p {
            font-size: 18px;
            color: white;
        }

        .btn-container {
            margin-top: 30px;
        }

        .btn {
            display: inline-block;
            padding: 15px 30px;
            margin: 10px;
            font-size: 16px;
            text-decoration: none;
            color: white;
            background-color: #FF5BA5;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #45a049;
        }

        .btn-secondary {
            background-color: #008CBA;
        }

        .btn-secondary:hover {
            background-color: #007bb5;
        }

        .view-all-btn {
            background-color: #ff80ab;
            color: white;
            border: none;
            padding: 15px 30px;
            font-size: 18px;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 20px;
        }
        
    </style>
</head>
<body class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <h1>¡Bienvenido a Sweet Coffee!</h1>
    <p>Explora nuestra deliciosa variedad de productos. </p>
    <p>Para acceder a más funciones, por favor inicia sesión o crea una cuenta.</p>

    <div class="btn-container mt-3">
        <!-- Botón para iniciar sesión -->
        <!--<a href="/Usuario/Login" class="btn">Iniciar sesión</a>-->
        <a asp-controller="Usuario" asp-action="Login">
                        <button class="view-all-btn">Iniciar Sesión</button>
         </a>
        <!-- Botón para crear una nueva cuenta -->
        <a asp-controller="Usuario" asp-action="Registro">
            <button class="view-all-btn">Crear Cuenta</button>
        </a>
    </div>
</body>
</html>
