@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Sweet Coffee</title>
</head>
<body>
    <h1>¡Bienvenido a Sweet Coffee!</h1>
    <p>Explora nuestra deliciosa variedad de productos. Para acceder a más funciones, por favor inicia sesión.</p>

    <a href="/Usuario/Login">Iniciar sesión</a>
</body>
</html>
