<div id="sidebar">
    <ul id="order-list"></ul>
    <div>
        <label>Total: </label>
        <input id="total" type="text" readonly value="0.00">
    </div>
    <button onclick="finalizeOrder()">Finalizar Pedido</button>
</div>
